<?xml version="1.0"?>
<configuration>
    <system.web>
      

      <authorization>
        <allow roles="Employee"/>
        <deny roles="Resident"/>
        
        <deny users="?"/>
        
      </authorization>
        <compilation debug="true" targetFramework="4.5">
          <assemblies>
            <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          </assemblies>
        </compilation>
        <httpRuntime targetFramework="4.5" />

    </system.web>
  <connectionStrings>
    <add name="LocalConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True"/>
    <add name="RealEstateDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\RealEstateProject.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="mktarealestates@gmail.com">
        <network host="smtp.gmail.com" password="9132916199" port="587" userName="mktarealestates@gmail.com" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
