<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="LocalConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True"/>
    <add name="RealEstateDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\RealEstateProject.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="mktarealestates@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" password="9132916199" port="587" userName="mktarealestates@gmail.com" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <authentication mode="Forms"/>
    <roleManager enabled="true"/>
      <compilation debug="true" targetFramework="4.5">
        <assemblies>
          <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        </assemblies>
      </compilation>
      <httpRuntime targetFramework="4.5" />
    </system.web>


</configuration>